<div class="container mt-4">
    <h3>Agregar Tratamiento</h3>
    <hr />
  
    <!-- Formulario reactivo -->
    <form [formGroup]="tratamientoForm" (ngSubmit)="onSubmit()">
      <!-- Tabla para agregar tratamiento -->
      <div formArrayName="tratamientos">
        <table class="table table-striped" *ngIf="tratamientos.length > 0">
          <thead class="thead-dark">
            <tr>
              <th>Medicamento</th>
              <th>Dosis</th>
              <th>Frecuencia</th>
              <th>Duración</th>
              <th>Fecha de Inicio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tratamiento of tratamientos.controls; let i = index" [formGroupName]="i">
              <td>
                <input type="text" class="form-control" 
                formControlName="trtMedicamento" 
                placeholder="Medicamento"
                maxlength="100"
                (keypress)="validarAlfanumerico($event)"
                >
                <div *ngIf="tratamiento.get('trtMedicamento')?.invalid && tratamiento.get('trtMedicamento')?.touched" class="text-danger">
                    Solo se permiten valores alfanumericos
                </div>
              </td>
              <td>
                <input type="text" class="form-control" 
                formControlName="trtDosis" 
                placeholder="Dosis"
                maxlength="50"
                (keypress)="validarAlfanumerico($event)"
                >
                <div *ngIf="tratamiento.get('trtDosis')?.invalid && tratamiento.get('trtDosis')?.touched" class="text-danger">
                    Solo se permiten valores alfanumericos
                </div>
              </td>
              <td>
                <input type="text" class="form-control" 
                formControlName="trtFrecuencia" 
                placeholder="Frecuencia"
                maxlength="50"
                (keypress)="validarAlfanumerico($event)"
                >
                <div *ngIf="tratamiento.get('trtFrecuencia')?.invalid && tratamiento.get('trtFrecuencia')?.touched" class="text-danger">
                    Solo se permiten valores alfanumericos
                </div>
              </td>
              <td>
                <input type="text" class="form-control" 
                formControlName="trtDuracion" 
                placeholder="Duración"
                maxlength="50"
                (keypress)="validarAlfanumerico($event)"
                >
                <div *ngIf="tratamiento.get('trtDuracion')?.invalid && tratamiento.get('trtDuracion')?.touched" class="text-danger">
                    Solo se permiten valores alfanumericos
                </div>
              </td>
              <td>
                <input type="date" class="form-control" formControlName="trtFecInicio">
                <div *ngIf="tratamiento.get('trtFecInicio')?.invalid && tratamiento.get('trtFecInicio')?.touched" class="text-danger">
                  La fecha de inicio es obligatoria.
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  
                <!-- Botón para agregar nueva fila con espacio a la derecha -->
                <button type="button" class="btn btn-primary mt-3 mr-2" (click)="agregarFila()" title="Agrega una fila más.">
                    <span class="material-symbols-outlined"   style="vertical-align: middle;">
                        add
                        </span>
                    Agregar Fila
                </button>

                <!-- Botón para quitar la última fila con el color rojo y deshabilitado según el estado -->
                <button class="btn btn-danger mt-3" (click)="quitarFila()" [disabled]="tratamientos.length === 1" title="Quita la última fila.">
                    <span class="material-symbols-outlined"  style="vertical-align: middle;">
                        remove
                        </span>
                    Quitar Última Fila
                </button>
      </div>
  
      <hr />
  
      <!-- Botones de acción -->
      <div class="action-buttons d-flex justify-content-between">
        <!-- Botón "Regresar" con icono y color gris -->
        <button type="button" class="btn btn-secondary" (click)="regresar()" title="Regresa al historial médico.">
          <i class="material-icons" style="vertical-align: middle;">arrow_back</i> Regresar
        </button>
  
        <!-- Botón "Guardar Tratamiento" con icono y color verde alineado a la derecha -->
        <button type="submit" class="btn btn-success" [disabled]="tratamientoForm.invalid" title="Guarda tratamientos de la consulta.">
          <i class="material-icons" style="vertical-align: middle;">save</i> Guardar Tratamiento
        </button>
      </div>
    </form>

              <!-- Botón redondo informativo en la esquina superior derecha -->
        <button type="button" class="btn btn-info position-fixed top-0 end-0 m-3 rounded-circle" 
        style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;" 
        data-bs-toggle="tooltip" data-bs-placement="left" title="Formulario para agregar tratamientos.">
             <span class="material-symbols-outlined" style="font-size: 24px;">info</span> <!-- Icono de información -->
        </button>

  </div>
    <!-- Activar los tooltips de Bootstrap (esto puede ir en el archivo .ts o en el script del componente) -->
<script>
    // Asegúrate de que los tooltips estén habilitados
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>