<div class="container">
    <form [formGroup]="formulario">
        <div class="row justify-content-center mb-3 align-items-end">
            <div class="col-auto">
                <label for="fecha">FECHA(*):</label>
                <input type="date" formControlName="fecha" class="form-control" required>
            </div>
            <div class="col-auto">
                <label for="hora">HORA:</label>
                <select formControlName="hora" class="form-control" required>
                    <option value="08:00:00">8:00 AM</option>
                    <option value="09:00:00">9:00 AM</option>
                    <option value="10:00:00">10:00 AM</option>
                    <option value="11:00:00">11:00 AM</option>
                    <option value="01:00:00">1:00 PM</option>
                    <option value="02:00:00">2:00 PM</option>
                    <option value="03:00:00">3:00 PM</option>
                    <option value="04:00:00">4:00 PM</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="nombrePropietario">NOMBRE DEL PROPIETARIO:</label>
                <input type="text" formControlName="nombrePropietario" class="form-control" required>
            </div>
            <div class="col-auto">
                
                <button type="button" class="btn btn-primary" (click)="consultarCita()">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">search</span> <!-- Icono para consultar cita -->
                    CONSULTAR
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive" style="height: 500px; overflow-y: auto;">
        <table class="table table-striped mt-4" style="max-width: 100%;">
            <thead>
                <tr>
                    <th class="d-none">Id</th> <!-- Usar d-none para ocultar la columna -->
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Propietario</th>
                    <th>Veterinario</th>
                    <th style="width: 260px;">Acciones</th> <!-- Ancho reducido para Acciones -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros; let i = index">
                    <td class="d-none">{{registro.id}}</td> <!-- Usar d-none aquí también -->
                    <td>{{ registro.fecha }}</td>
                    <td>{{ registro.hora }}</td>
                    <td>{{ registro.propietario }}</td>
                    <td>{{ registro.veterinario }}</td>
                    <td style="width: 200px;"> <!-- Ancho reducido para Acciones -->
                        <button class="btn btn-warning btn-sm me-2" (click)="editarRegistro(i)">
                            <span class="material-symbols-outlined" style="vertical-align: middle;" >
                                edit_document
                                </span>
                            MODIFICAR
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="eliminarRegistro(i)">
                            <span class="material-symbols-outlined" style="vertical-align: middle;">
                                cancel
                                </span>
                            CANCELAR
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Botones en la parte inferior -->
    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            
            <button type="button" class="btn btn-secondary" (click)="regresar()"  >
                <span class="material-symbols-outlined" style="vertical-align: middle;">keyboard_return</span>
                REGRESAR
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-light">
                <span class="material-symbols-outlined" style="vertical-align: middle;">
                    mop
                    </span>
                LIMPIAR
            </button>
        </div>
    </div>
</div>
