<form [formGroup]="formularioRegistro">
    <div class="container-fluid m-4">
        <div class="row justify-content-center">
            <div class="col-12">
                <h4 class="text-center mb-4">CREACION DE CITAS</h4>
            </div>

            <div class="col-12 col-md-2 mb-3"> <!-- Ancho reducido -->
                <label for="date">FECHA(*)</label>
                <input type="date" id="date" class="form-control form-control-sm" formControlName="fecha" (change)="onFechaChange($event)">
            </div>

            <div class="col-12 col-md-2 mb-3"> <!-- Campo de texto para Nombre del propietario -->
                <label for="propietario">NOMBRE DEL PROPIETARIO(*)</label>
                <!-- <input type="text" id="propietario" class="form-control form-control-sm" formControlName="nombrePropietario"> -->
                <input type="text" id="propietario" 
                style="text-transform:uppercase" 
                (keypress)="validateAlpha($event)" 
                class="form-control form-control-sm" 
                formControlName="nombrePropietario">
                <div *ngIf="formularioRegistro.get('nombrePropietario')?.invalid && (formularioRegistro.get('nombrePropietario')?.touched || formularioRegistro.get('nombrePropietario')?.dirty)" class="text-danger">
                    <div *ngIf="formularioRegistro.get('nombrePropietario')?.errors?.['required']">El nombre es requerido.</div>
                    <div *ngIf="formularioRegistro.get('nombrePropietario')?.errors?.['invalidText']">Solo se permiten letras y espacios.</div>
                </div>
            </div>

            <div class="col-12 col-md-2 mb-3"> <!-- Ancho reducido -->
                <label for="vet">VETERINARIOS(*)</label>
                <select id="vet" class="form-select form-select-sm" formControlName="veter" (change)="onVeterinarioChange($event)">
                    <!-- <option value="">Seleccione un veterinario</option> -->
                    <option *ngFor="let vet of veterinarios" [value]="vet.empId">
                        {{ vet.empNombre }} {{ vet.empApellido }}
                    </option>
                </select>
            </div>

            <div class="col-12 col-md-2 mb-3"> <!-- Ancho reducido -->
                <label for="horas">HORARIOS DISPONIBLES(*)</label>
                <select id="horas" class="form-select form-select-sm" formControlName="hora" (change)="onHorarioChange($event)">
                    <!-- <option value="">Seleccione una hora</option> -->
                    <option *ngFor="let horario of horarios" [value]="horario.hocHorario">
                        {{ horario.hocHorario }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Espacio adicional entre los campos y los botones -->
        <div class="mb-5"></div>

        <div class="row justify-content-center">
            <div class="col-auto">
                <button id="regresar" type="button" class="btn btn-secondary" (click)="regresar()" title="Regresar al menú Citas.">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">keyboard_return</span>
                    Regresar</button>
            </div>
            <div class="col-auto">
                <button id="reservar" type="submit" class="btn btn-primary" (click)="guardarCita()" title="Generar cita nueva.">
                    <span class="material-symbols-outlined" style="vertical-align: middle;" >
                        event_available
                        </span>
                    Generar cita
                </button>
            </div>
        </div>

                          <!-- Botón redondo informativo en la esquina superior derecha -->
                          <button type="button" class="btn btn-info position-fixed top-0 end-0 m-3 rounded-circle" 
                          style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;" 
                          data-bs-toggle="tooltip" data-bs-placement="left" title="Formulario para creación de citas.">
                               <span class="material-symbols-outlined" style="font-size: 24px;">info</span> <!-- Icono de información -->
                          </button>



    </div>
</form>
<!-- Activar los tooltips de Bootstrap (esto puede ir en el archivo .ts o en el script del componente) -->
<script>
    // Asegúrate de que los tooltips estén habilitados
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>