<div class="container mt-5">
    <h2 class="text-center">MODIFICACION DE CITA</h2>
    <br>
    <form [formGroup]="formulario">

        <!-- campo oculto para mantener id -->
        <input type="hidden" formControlName="id">

        <div class="form-group row">
            <label for="fecha" class="col-sm-2 col-form-label">FECHA(*):</label>
            <div class="col-sm-10">
                <input type="date" id="date" class="form-control" formControlName="fecha"  (change)="onFechaChange($event)" >
            </div>
        </div>

        <br>
        <div class="form-group row">
            <label for="propietario"  class="col-sm-2 col-form-label">PROPIETARIO(*):</label>
            <div class="col-sm-10">
                <input type="text" 
                id="propietario"  
                class="form-control" 
                (keypress)="validarTexto($event)" 
                [value]="propietario"
                style="text-transform: uppercase;"
                formControlName="propietario" >
            </div>
        </div>

        <br>
        <div class="form-group row">
            <label for="veterinario" class="col-sm-2 col-form-label">VETERINARIO(*):</label>
            <div class="col-sm-10">
                
                <input 
        id="vet" 
        class="form-control form-control-sm" 
        [value]="selectedVeterinario"  
        readonly
        formControlName="veterinario" 
    />

            </div>
        </div>


        <br>
        <div class="form-group row">
            <label for="hora" class="col-sm-2 col-form-label">HORA(*):</label>
            <div class="col-sm-10">
                <!-- <select class="form-control" formControlName="hora" required>
                    <option value="08:00">8:00 AM</option>
                    <option value="09:00">9:00 AM</option>
                    <option value="10:00">10:00 AM</option>
                    <option value="11:00">11:00 AM</option>
                    <option value="13:00">1:00 PM</option>
                    <option value="14:00">2:00 PM</option>
                    <option value="15:00">3:00 PM</option>
                    <option value="16:00">4:00 PM</option>
                </select> -->

                <select id="horas" class="form-select form-select-sm" formControlName="hora"  (change)="onHorarioChange($event)">
                    <!-- <option value="">Seleccione una hora</option> -->
                    <option *ngFor="let horario of horarios" [value]="horario.hocHorario">
                        {{ horario.hocHorario }}
                    </option>
                </select>
            </div>
        </div>
        
       
        <br>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary me-3" (click)="modificarCita()" [disabled]="isSaving"
                title="Guarda los cambios de la cita.">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">
                        save
                    </span>
                    GUARDAR
                </button>
                <button type="button" class="btn btn-secondary" (click)="regresar()" title="Regresa al formulario de consulta de citas.">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">keyboard_return</span>
                    REGRESAR
                </button>
            </div>
        </div>
    </form>

                       <!-- Botón redondo informativo en la esquina superior derecha -->
                       <button type="button" class="btn btn-info position-fixed top-0 end-0 m-3 rounded-circle" 
                       style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;" 
                       data-bs-toggle="tooltip" data-bs-placement="left" title="Formulario para editar la cita.">
                   <span class="material-symbols-outlined" style="font-size: 24px;">info</span> <!-- Icono de información -->
                   </button>



</div>
  <!-- Activar los tooltips de Bootstrap (esto puede ir en el archivo .ts o en el script del componente) -->
  <script>
    // Asegúrate de que los tooltips estén habilitados
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>