<div class="container mt-5 mb-5">
    <div class="mb-3 mt-3 text-center">
      <h2>MODIFICACION DE EXPEDIENTE DE MASCOTAS</h2>
    </div>
  
    <form [formGroup]="formulario" (ngSubmit)="modificarExpediente()" >
      <div class="row">
        <!-- Campo Código de Expediente (solo lectura) -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masId">Código de Expediente</label>
          <input
            type="text"
            class="form-control"
            id="masId"
            formControlName="masId"
            placeholder="Código de expediente"
            style="text-transform:uppercase"
            readonly
          >
        </div>
  
        <!-- Campo Nombre de la Mascota -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="name">Nombre de la Mascota</label>
          <input
            type="text"
            class="form-control"
            id="masNombre"
            formControlName="masNombre"
            style="text-transform:uppercase"
            placeholder="Nombre de la Mascota"
          >
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Nombre del Propietario -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masPropietario">Nombre del Propietario</label>
          <input
            type="text"
            class="form-control"
            id="masPropietario"
            formControlName="masPropietario"
            style="text-transform:uppercase"
            placeholder="Nombre del Propietario"
          >
        </div>
  
        <!-- Campo Tipo de Mascota -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="timGrupo">Tipo de Mascota</label>
          <select
            id="timGrupo"
            class="form-select"
            formControlName="timGrupo"
          >
          <option value="">Seleccione un tipo</option>
          <option *ngFor="let tipo of tiposMascotas" [value]="tipo.timId">{{ tipo.timGrupo }}</option>
          </select>
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Género -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masGenero">Género</label>
          <select
            class="form-select"
            id="masGenero"
            formControlName="masGenero"
          >
              <option value="1">Macho</option>
              <option value="2">Hembra</option>
          </select>
        </div>
  
        <!-- Campo Raza -->
         <!--
        <div class="col-md-6 mb-3">
          <label class="form-label" for="razNombre">Raza</label>
          <select
            id="razNombre"
            class="form-select"
            formControlName="razNombre"
          >
          <option value="">Seleccione una raza</option>
          <option *ngFor="let raza of razas" [value]="raza.razId">{{raza.razNombre}}</option>
          </select>
        </div>
        -->
            <!-- Campo Raza -->
          <div class="col-md-6 mb-3">
            <label class="form-label" for="razNombre">Raza</label>

            <select id="razNombre" class="form-select" formControlName="razNombre" >
              <!-- Si estamos cargando, mostrar un option con texto "Cargando..." -->
              <option *ngIf="isLoading" value="" disabled>Cargando...</option>
          
              <!-- Si ya tenemos los datos, mostrar las razas -->
              <option *ngFor="let raza of razas" [value]="raza.razId">
                {{ raza.razNombre }}
              </option>
            </select>
             
            
          </div>

      </div>
  
      <div class="row">
        <!-- Campo Color -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masColor">Color</label>
          <input
            type="text"
            class="form-control"
            id="masColor"
            formControlName="masColor"
            style="text-transform:uppercase"
            placeholder="Nombre de la Mascota"
          >
        </div>
  
        <!-- Campo Peso -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masPeso">Peso (lb)</label>
          <input
            type="text"
            class="form-control"
            id="masPeso"
            formControlName="masPeso"
            placeholder="0.00"
            onfocus="this.select();"
          >
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Temperatura -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masTemperatura">Temperatura (°C)</label>
          <input
            type="text"
            class="form-control"
            id="masTemperatura"
            formControlName="masTemperatura"
            placeholder="0.00"
            onfocus="this.select();"
          >
        </div>
  
        <!-- Campo Frecuencia Cardiaca -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masFrecardiaca">Frecuencia Cardiaca</label>
          <input
            type="text"
            class="form-control"
            id="masFrecardiaca"
            formControlName="masFrecardiaca"
            maxlength="3"
            placeholder="Ejemplo: 75"
            onfocus="this.select();"
          >
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Dirección -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masDireccion">Dirección</label>
          <input
            type="text"
            class="form-control"
            style="text-transform:uppercase"
            id="masDireccion"
            formControlName="masDireccion"
            placeholder="Dirección del propietario"
          >
        </div>
  
        <!-- Campo Teléfono -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masTelefono">Teléfono</label>
          <input
            type="text"
            class="form-control"
            id="masTelefono"
            formControlName="masTelefono"
            maxlength="9"
            placeholder="Ejemplo: 1234-5678"
          >
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Médico Referido -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masMedReferido">Médico Referido (no obligatorio)</label>
          <input
            type="text"
            class="form-control"
            style="text-transform:uppercase"
            id="masMedReferido"
            formControlName="masMedReferido"
            placeholder="Nombre del médico"
          >
        </div>
  
        <!-- Campo Correo Electrónico -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masCorreo">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="masCorreo"
            formControlName="masCorreo"
            placeholder="Ejemplo: usuario@gmail.com"
          >
        </div>
      </div>
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-between">
        <button type="button" class="btn btn-secondary" (click)="regresar()" >
          <span class="material-symbols-outlined" style="vertical-align: middle;">keyboard_return</span>
          REGRESAR
        </button>
        <div>
          <button type="button" class="btn btn-danger me-2">
            <span class="material-symbols-outlined" style="vertical-align: middle;">
              cleaning_bucket
            </span>
            LIMPIAR
          </button>
          <button type="submit" class="btn btn-success">
            <span class="material-symbols-outlined" style="vertical-align: middle;">
              save
            </span>
            GUARDAR
          </button>
        </div>
      </div>
    </form>
  </div>
  