<div class="container mt-5 mb-5">
    <div class="mb-3 mt-3 text-center">
      <h2>MODIFICACION DE EXPEDIENTE DE MASCOTAS</h2>
    </div>
  
    <form [formGroup]="formulario" (ngSubmit)="modificarExpediente()" >
      <div class="row">
        <!-- Campo Código de Expediente (solo lectura) -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masId">(*)CODIGO DE EXPEDIENTE</label>
          <input
            type="text"
            class="form-control"
            id="masId"
            formControlName="masId"
            placeholder="Código de expediente"
            style="text-transform:uppercase"
            readonly
          >
        </div>
  
        <!-- Campo Nombre de la Mascota -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="name">(*)NOMBRE DE LA MASCOTA</label>
          <input
          [ngClass]="{'is-invalid': hasErrors('masNombre', 'required') || hasErrors('masNombre', 'maxlength') || hasErrors('masNombre', 'soloLetras')}"
            type="text"
            class="form-control"
            id="masNombre"
            formControlName="masNombre"
            maxlength="50"
            style="text-transform:uppercase"
            (keypress)="validateAlpha($event)"
            placeholder="Nombre de la Mascota"
            
          >
          <div class="text-danger" *ngIf="hasErrors('masNombre', 'required')">Campo obligatorio</div>
          <div class="text-danger" *ngIf="hasErrors('masNombre', 'maxlength')">Máximo 50 caracteres</div>
          <div class="text-danger" *ngIf="hasErrors('masNombre', 'soloLetras')">Solo se permiten letras y espacios</div>
        
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Nombre del Propietario -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masPropietario">(*)NOMBRE DEL PROPIETARIO</label>
          <input
          [ngClass]="{'is-invalid': hasErrors('masPropietario', 'required') || hasErrors('masPropietario', 'maxlength') || hasErrors('masPropietario', 'soloLetras')}"
            type="text"
            class="form-control"
            id="masPropietario"
            formControlName="masPropietario"
            style="text-transform:uppercase"
            maxlength="50"
            (keypress)="validateAlpha($event)"
            placeholder="Nombre del Propietario"
          >

          <div class="text-danger" *ngIf="hasErrors('masPropietario', 'required')">Campo obligatorio</div>
          <div class="text-danger" *ngIf="hasErrors('masPropietario', 'maxlength')">Máximo 50 caracteres</div>
          <div class="text-danger" *ngIf="hasErrors('masPropietario', 'soloLetras')">Solo se permiten letras y espacios</div>
        
          
        </div>
  
        <!-- Campo Tipo de Mascota -->
        <!-- <div class="col-md-6 mb-3">

          <label class="form-label" for="timGrupo">(*)TIPO DE MASCOTA</label>
          <select
            id="timGrupo"
            class="form-select"
            formControlName="timGrupo"
          >
          <option value="">Seleccione un tipo</option>
          <option *ngFor="let tipo of tiposMascotas" [value]="tipo.timId">{{ tipo.timGrupo }}</option>
          </select>
        </div> -->

        <div class="col-md-6 mb-3">
          <div class="row">
            <!-- Campo de texto alineado a la izquierda -->
            <div class="col-md-6">
              <label class="form-label" for="mascotaBusqueda">TIPO DE MASCOTA REGISTRADO</label>
              <input
                id="tipo"
                type="text"
                class="form-control"
                formControlName="tipo"
                readonly
              />
            </div>
        
            <!-- Select alineado a la derecha -->
            <div class="col-md-6">
              <label class="form-label" for="timGrupo">CAMBIAR TIPO(OPCIONAL)</label>
              <select
                id="timGrupo"
                class="form-select"
                formControlName="timGrupo"
              >
                <!-- <option value="">Seleccione un tipo</option> -->
                <option *ngFor="let tipo of tiposMascotas" [value]="tipo.timId">{{ tipo.timGrupo }}</option>
              </select>
            </div>
          </div>
        </div>
        


      </div>
  
      <div class="row">
        <!-- Campo Género -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masGenero">(*)GENERO</label>
          <select
            class="form-select"
            id="masGenero"
            formControlName="masGenero"
          >
              <option value="1">Macho</option>
              <option value="2">Hembra</option>
          </select>
        </div>
  
        <!-- Campo Raza -->
         <!--
        <div class="col-md-6 mb-3">
          <label class="form-label" for="razNombre">Raza</label>
          <select
            id="razNombre"
            class="form-select"
            formControlName="razNombre"
          >
          <option value="">Seleccione una raza</option>
          <option *ngFor="let raza of razas" [value]="raza.razId">{{raza.razNombre}}</option>
          </select>
        </div>
        -->
            <!-- Campo Raza -->
          <!-- <div class="col-md-6 mb-3">
            <label class="form-label" for="razNombre">(*)RAZA</label>

            <select id="razNombre" class="form-select" formControlName="razNombre" >
             
              <option *ngIf="isLoading" value="" disabled>Cargando...</option>
          
             
              <option *ngFor="let raza of razas" [value]="raza.razId">
                {{ raza.razNombre }}
              </option>
            </select>
             
            
          </div> -->

          <div class="col-md-6 mb-3">
            <div class="row">
              <!-- Campo de texto alineado a la izquierda -->
              <div class="col-md-6">
                <label class="form-label" for="razaBusqueda">RAZA REGISTRADA</label>
                <input
                  id="raza"
                  type="text"
                  class="form-control"
                  placeholder="Buscar raza"
                  formControlName="raza"
                  readonly
                />
              </div>
          
              <!-- Select alineado a la derecha -->
              <div class="col-md-6">
                <label class="form-label" for="razNombre">CAMBIAR RAZA(OPCIONAL)</label>
                <select
                  id="razNombre"
                  class="form-select"
                  formControlName="razNombre"
                >
                  <!-- Si estamos cargando, mostrar un option con texto "Cargando..." -->
                  <option *ngIf="isLoading" value="" disabled>Cargando...</option>
          
                  <!-- Si ya tenemos los datos, mostrar las razas -->
                  <option *ngFor="let raza of razas" [value]="raza.razId">
                    {{ raza.razNombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          

      </div>
  
      <div class="row">
        <!-- Campo Color -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masColor">(*)COLOR</label>
          <input
            type="text"
            class="form-control"
            id="masColor"
            formControlName="masColor"
            style="text-transform:uppercase"
            (keypress)="validateAlpha($event)"
            placeholder="COLOR DE LA MASCOTA"
          >
        </div>
  
        <!-- Campo Peso -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masPeso">(*)PESO(lb)</label>
          <input
            type="text"
            class="form-control"
            id="masPeso"
            formControlName="masPeso"
            placeholder="0.00"
            onfocus="this.select();"
          >
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Temperatura -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masTemperatura">(*)TEMPERATURA(°C)</label>
          <input
            type="text"
            class="form-control"
            id="masTemperatura"
            formControlName="masTemperatura"
            placeholder="0.00"
            onfocus="this.select();"
          >
        </div>
  
        <!-- Campo Frecuencia Cardiaca -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masFrecardiaca">(*)FRECUENCIA CARDIACA</label>
          <input
            type="text"
            class="form-control"
            id="masFrecardiaca"
            formControlName="masFrecardiaca"
            maxlength="3"
            placeholder="Ejemplo: 75"
            onfocus="this.select();"
          >
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Dirección -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masDireccion">(*)DIRECCION</label>
          <input
            type="text"
            class="form-control"
            style="text-transform:uppercase"
            id="masDireccion"
            formControlName="masDireccion"
            placeholder="Dirección del propietario"
          >
        </div>
  
        <!-- Campo Teléfono -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masTelefono">(*)TELEFONO</label>
          <input
            type="text"
            class="form-control"
            id="masTelefono"
            formControlName="masTelefono"
            maxlength="9"
            placeholder="Ejemplo: 1234-5678"
          >
        </div>
      </div>
  
      <div class="row">
        <!-- Campo Médico Referido -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masMedReferido">MEDICO REFERIDO</label>
          <input
            type="text"
            class="form-control"
            style="text-transform:uppercase"
            id="masMedReferido"
            formControlName="masMedReferido"
            (keypress)="validateAlpha($event)"
            placeholder="Nombre del médico"
          >
        </div>
  
        <!-- Campo Correo Electrónico -->
        <div class="col-md-6 mb-3">
          <label class="form-label" for="masCorreo">(*)CORREO ELECTRONICO</label>
          <input
            type="email"
            class="form-control"
            id="masCorreo"
            formControlName="masCorreo"
            placeholder="Ejemplo: usuario@gmail.com"
          >
        </div>
      </div>
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-between">
        <button type="button" class="btn btn-secondary" (click)="regresar()" >
          <span class="material-symbols-outlined" style="vertical-align: middle;">keyboard_return</span>
          REGRESAR
        </button>
        <div>
          <button type="button" class="btn btn-danger me-2"  (click)="limpiarFormulario()"  >
            <span class="material-symbols-outlined" style="vertical-align: middle;">
              cleaning_bucket
            </span>
            LIMPIAR
          </button>
          <button type="submit" class="btn btn-success">
            <span class="material-symbols-outlined" style="vertical-align: middle;">
              save
            </span>
            GUARDAR
          </button>
        </div>
      </div>
    </form>
  </div>
  