<div class="container mt-5">
    <div class="text-left mb-4">
        <h2>MENU EXPEDIENTE</h2>
    </div>
    <div class="row">
        <!-- Opción para crear expediente -->
        <div class="col-md-12 mb-3">
            <button *ngIf="canCreate" (click)="createExpediente()" class="btn btn-primary btn-lg w-50 text-start">
                <span class="material-symbols-outlined" style="vertical-align: middle;">edit_square</span> <!-- Icono para crear expediente -->
                CREAR EXPEDIENTE
            </button>
        </div>

        <!-- Opción para consultar expediente -->
        <div class="col-md-12 mb-3">
            <button *ngIf="canConsult" class="btn btn-primary btn-lg w-50 text-start" (click)="consultExpediente()">
                <span class="material-symbols-outlined" style="vertical-align: middle;">search</span> <!-- Icono para consultar expediente -->
                CONSULTAR EXPEDIENTE
            </button>
        </div>
        
        <!-- Opción para regresar al menú home -->
        <div class="col-md-12 mb-3">
            <button class="btn btn-danger btn-lg w-50 text-start" [routerLink]="['/home']">
                <span class="material-symbols-outlined" style="vertical-align: middle;">keyboard_return</span> <!-- Icono para regresar -->
                REGRESAR AL MENÚ PRINCIPAL
            </button>
        </div>
    </div>
</div>
