<div class="container-fluid login-container" style="margin-top: 0; height: 80vh;">
    <div class="w-100 h-100 d-flex flex-column justify-content-start align-items-center" style="margin-top: 5%; position: relative;">

        <!-- Primera fila: imagen alineada a la izquierda -->
        <div class="mb-3">
            <img src="assets/img/CLINICPET-01.jpg" alt="Logo" class="img-fluid" style="width: 10%; height: auto;"/>
        </div>

        <!-- Segunda fila: encabezado y formulario -->
        <div class="mb-3 text-center">
            <h2>LOGIN</h2>
        </div>
        
        <div class="mb-3 d-flex justify-content-center">
            <div style="max-width: 350px; width: 100%;">
                <form [formGroup]="formularioLogin" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label class="form-label" for="user">Usuario</label>
                        <input [ngClass]="{'is-invalid': hasErrors('user', 'required') || hasErrors('user', 'email')}" 
                               id="user" 
                               type="email" 
                               class="form-control" 
                               placeholder="ejemplo@correo.com"
                               formControlName="user">
                        <div class="text-danger" *ngIf="hasErrors('user', 'required')">Campo obligatorio</div>
                        <div class="text-danger" *ngIf="hasErrors('user', 'email')">Correo no válido</div>
                    </div>
                    <!-- campo contrasena -->
                    <div class="mb-3">
                        <label class="form-label" for="password">Contraseña</label>
                        <div class="input-group">
                          <!-- Campo de entrada para la contraseña -->
                          <input 
                            [type]="isPasswordVisible ? 'text' : 'password'" 
                            id="password" 
                            class="form-control"
                            [ngClass]="{'is-invalid': hasErrors('password', 'required')}"
                            formControlName="password">
                          
                          <!-- Botón para ver u ocultar la contraseña -->
                          <button 
                            type="button" 
                            class="btn btn-outline-secondary" 
                            (click)="togglePassword()" 
                            style="cursor: pointer;">
                            <span class="material-icons" style="vertical-align: middle;">
                              {{ isPasswordVisible ? 'visibility_off' : 'visibility' }}
                            </span>
                          </button>
                        </div>
                      
                        <!-- Mensajes de error -->
                        <div class="text-danger" *ngIf="hasErrors('password', 'required')">Campo obligatorio</div>
                      </div>
                      
                    <!--campo contrasena  -->
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-info" [disabled]="isLoggingIn"
                                title="Iniciar sesión en el sistema">
                            Iniciar Sesión
                        </button>
                    </div>
                </form>

                <!-- Texto que muestra el estado de la petición -->
                <div *ngIf="isLoggingIn" class="text-center text-dark fw-bold mt-2">
                    Logeando...
                </div>

                <!-- Botón redondo con ícono de bombilla a la altura del logo, ubicado al lado derecho -->
                <button class="btn btn-secondary rounded-circle" style="position: absolute; top: 5%; right: 10px; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;" 
                        title="Bienvenido, se encuentra en la pantalla de inicio del sistema 'Mascotas Felices'">
                    <span class="material-symbols-outlined" style="font-size: 24px;">lightbulb_2</span>
                </button>
            </div>
        </div>

    </div>
</div>
