<div class="container">
    <form [formGroup]="formulario">
        
        <div class="row justify-content-center mb-3 align-items-end">
            <!-- Campo de código de expediente -->
            <div class="col-auto d-flex flex-column">
                <label for="codigoExpediente">CÓDIGO DE EXPEDIENTE:</label>
                <div class="input-container">
                    <input type="text" 
                           formControlName="codigoExpediente" 
                           class="form-control" 
                           (input)="toUpperCase($event)"  
                           (keypress)="validateNumber($event)" 
                           minlength="8" 
                           maxlength="8">
                    <div class="text-danger" *ngIf="formulario.get('codigoExpediente')!.invalid && formulario.get('codigoExpediente')!.touched">
                        <small *ngIf="formulario.get('codigoExpediente')!.hasError('minlength')">
                            El código debe ser de 8 dígitos.
                        </small>
                    </div>
                </div>
            </div>
        
            <!-- Campo de nombre de mascota -->
            <div class="col-auto d-flex flex-column">
                <label for="nombreMascota">NOMBRE DE MASCOTA:</label>
                <div class="input-container">
                    <input type="text" 
                           formControlName="nombreMascota" 
                           class="form-control" 
                           (input)="toUpperCase($event)" 
                           
                           (focus)="showWarningMessage()" 
                           (blur)="hideWarningMessage()" 
                           (keypress)="validateAlpha($event)" 
                           maxlength="40">
                    <div class="text-danger" *ngIf="isFocused">
                        <small *ngIf="isFocused">
                            El tamaño máximo es 40 caracteres.
                        </small>
                    </div>
                </div>
            </div>
        
            <!-- Campo de nombre del propietario -->
            <div class="col-auto d-flex flex-column">
                <label for="nombrePropietario">NOMBRE DEL PROPIETARIO:</label>
                <div class="input-container">
                    <input type="text" 
                           formControlName="nombrePropietario" 
                           class="form-control"  
                           (input)="toUpperCase($event)" 
                           (keypress)="validateAlpha($event)" 
                           (focus)="showWarningMessage2()"
                           (blur)="hideWarningMessage2()" 
                           maxlength="40">
                    <div class="text-danger" *ngIf="isFocused2">
                        <small *ngIf="isFocused2">
                            El tamaño máximo es 40 caracteres.
                        </small>
                    </div>
                </div>
            </div>
        
            <!-- Botón Consultar -->
            <div class="col-auto d-flex align-items-end">
                <button type="button" class="btn btn-primary" (click)="consultarExpediente()">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">search</span> 
                    CONSULTAR
                </button>
            </div>
        </div>
        
        
        
        
    </form>

    <div class="table-responsive" style="height: 500px; overflow-y: auto;">
        <table class="table table-striped mt-4" style="max-width: 100%;">
            <thead>
                <tr>
                    <th class="d-none">Id</th> <!-- Usar d-none para ocultar la columna -->
                    <th>Código de Expediente</th>
                    <th>Nombre de Mascota</th>
                    <th>Especie</th>
                    <th>Raza</th>
                    <th>Color</th>
                    <th>Nombre Propietario</th>
                    <th style="width: 260px;">Acciones</th> <!-- Ancho reducido para Acciones -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros; let i = index">
                    <td class="d-none">{{registro.id}}</td> <!-- Usar d-none aquí también -->
                    <td>{{ registro.masId }}</td>
                    <td>{{ registro.masNombre }}</td>
                    <td>{{ registro.timGrupo }}</td>
                    <td>{{ registro.razNombre }}</td>
                    <td>{{ registro.masColor }}</td>
                    <td>{{ registro.masPropietario }}</td>
                    <td style="width: 200px;">

                        <button class="btn btn-warning btn-sm me-2" (click)="editarRegistro(i)" >
                            <span class="material-symbols-outlined" style="vertical-align: middle;">
                                edit_document
                            </span>
                            MODIFICAR
                        </button>
                        <button class="btn btn-danger btn-sm">
                            <span class="material-symbols-outlined" style="vertical-align: middle;">
                                delete
                            </span>
                            ELIMINAR
                        </button>

                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Botones en la parte inferior -->
    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            
            <button type="button" class="btn btn-secondary" (click)="regresar()" >
                <span class="material-symbols-outlined" style="vertical-align: middle;">keyboard_return</span>
                Regresar
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-light" (click)="limpiarFormulario()"  >
                <span class="material-symbols-outlined" style="vertical-align: middle;">
                    mop
                </span>
                Limpiar
            </button>
        </div>
    </div>
</div>

