<div class="container mt-5">
    <div class="text-container">
        <div class="text-overlay">Veterinaria Amigos Felices</div>
        <div class="horizontal-line"></div>
    </div>

    <div class="container mt-5">
        <div class="row mb-4">
            <!-- Columna para los botones -->
            <div class="col-md-3 d-flex flex-column justify-content-between" style="height: 400px;"> <!-- Altura ajustada -->
                <a class="btn btn-custom-blue w-100 mb-3" *ngFor="let option of expedienteOption" [routerLink]="['/menu-expediente']">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">assignment</span> <!-- Icono para expediente -->
                    Expediente
                </a>
                <div class="mt-5"> <!-- Espaciado adicional -->
                    <a class="btn btn-danger w-100" [routerLink]="['/login']">
                        <span class="material-symbols-outlined" style="vertical-align: middle;">logout</span>
                        Salir
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <a class="btn btn-custom-blue w-100" *ngFor="let option of citasOption" [routerLink]="['/menu-citas']">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">event</span> <!-- Icono opcional para citas -->
                    Citas
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-custom-blue w-100" *ngFor="let option of consultasMedicasOption"  [routerLink]="['/menu-consulta-medica']"  >
                    <span class="material-symbols-outlined" style="vertical-align: middle;">medical_services</span> <!-- Icono opcional para consultas -->
                    Consultas Médicas
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-custom-blue w-100" *ngFor="let option of vacunacionOption" (click)="openVacunacion()">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">vaccines</span> <!-- Icono opcional para vacunación -->
                    Vacunación
                </a>
            </div>
        </div>
    </div>
</div>
